// ============================================================
//  CREDENCIALES — PLANTILLA
//  Copia este archivo como "secrets.h" y completá tus datos
// ============================================================
#pragma once

// WiFi
#define WIFI_SSID "tu_red_wifi"
#define WIFI_PASS "tu_contraseña_wifi"

// MQTT — HiveMQ Cloud
#define MQTT_HOST "tu_cluster.s1.eu.hivemq.cloud"
#define MQTT_PORT 8883
#define MQTT_USER "tu_usuario_mqtt"
#define MQTT_PASS "tu_contraseña_mqtt"
